@import "../../assets/scss/variables.scss";

.ui__input {
    position: relative;
    input:not(.ui__color-picker input) {
        width: 100%;
        padding-left: 21px;
        height: 100%;
        background-color: var(--input-background);
        border: 1px solid var(--input-border);
        border-radius: 6px;
        font-weight: 500;
        font-size: calc(var(--default-font-size) * 0.9);
        &::placeholder {
            font-size: calc(var(--default-font-size) * 0.9);
        }
    }
    .ui__input__arrow {
        position: absolute;
        top: 50%;
        transform: translate(0, -25%);
        right: 15px;
        cursor: pointer;
    }
    .ui__input__select {
        padding-right: 55px;
    }
    .ui__input__background {
        position: absolute !important;
        top: 50%;
        left: 22px;
        transform: translate(-50%, -50%);
        display: flex;
        align-items: center;
        svg, svg * {
            // stroke: var(--icons-color);
            fill: var(--icons-color);
        }
    }
}

.ui__input__select:before {
    background-image: url(../../assets/images/UI/arrow.svg);
    background-repeat: no-repeat;
    background-position: 95% 62%;
}
.ui__input__options {
    position: absolute;
    width: 100%;
    bottom: -15px;
    transform: translate(0, 100%);
    left: 0;
    background-color: var(--input-background);
    border: 1px solid #999999;
    border-radius: 6px;
    z-index: 5;
    display: flex;
    flex-direction: column;
    padding: 0 15px;
    > *{
        padding: 13px 0;
        margin-bottom: 0 !important;
        cursor: pointer;
    }
    // > * {
    //     border-bottom: 1px solid #999999;
    // }
}