$default-background: #222222;
$wrapper-background: #2c2c2c;
$input-background: #444444;
$input-border: #555555;
$default-font-size: 20px;
$default-text: #ffffff;
$default-placeholder: #7d7d7d;
$button-background: #4f545c;
$button-border: #b9b9b94d;
$ui-color: #226df4;