@import "../../assets/scss/variables.scss";

@mixin inputWithImage($defaultWidth: 100%) {

    width: $defaultWidth;
    background-repeat: no-repeat;
    background-position: 15px 50%;
    background-size: 18px 18px;
    padding-left: 45px;

    @media screen and (max-width: 1350px), (max-height: 800px) {
        width: 100%;
    }
}

@mixin formBlock() {
    margin-bottom: 30px;
    @media screen and (max-height: 900px) {
        margin-bottom: 25px;
    }
}

.ui__form {
    width: 670px;
    padding: 60px;
    background-color: $wrapper-background;
    border: 1px solid $input-border;
    border-radius: 7px;

    @media screen and (max-width: 1350px), (max-height: 800px) {
        width: 550px;
        padding: 40px;
    }
    @media screen and (max-width: 600px) {
        width: 95%;
        padding: 20px;
    }

    p {
        font-size: $default-font-size;
        margin-bottom: 10px;    
        @media screen and (max-height: 900px) {
            font-size: calc($default-font-size / 1.2)
        }
    }
    h3 {
        font-size: 43px;
        @media screen and (max-width: 1350px), (max-height: 800px) {
            font-size: 36px;
        }
        @media screen and (max-width: 600px) {
            margin-bottom: 30px;
            font-size: 24px;
            // text-align: center;
        }
        margin-bottom: 50px;
    }
    > span, > .ui__form__content > span {
        display: block;
        font-size: 16px;
        &.ui__warn {
            font-size: 14px;
            margin-bottom: 0;
            @media screen and (max-width: 600px) {
                text-align: center;
            }
        }
        margin-bottom: 36px;
    }
    .ui__input {
        @include formBlock;
        width: 100%;
        height: 60px; 
        @media screen and (max-height: 900px) {
            height: 45px; 
        }
        @media screen and (max-width: 600px) {
            height: 50px;
        }
    }
    .ui__input__price input {
        @include inputWithImage(240px);
        padding-right: 105px;
        background-image: url(../../assets/images/UI/zano.svg);
        margin-bottom: 0;
    }
    .ui__input__author input {
        @include inputWithImage(240px);
        background-image: url(../../assets/images/UI/email.svg);
        background-size: 20px 20px;
    }
    .ui__input__image input {
        @include inputWithImage;
        background-image: url(../../assets/images/UI/gallery.png);
    }
    .ui__input__comments input {
        @include inputWithImage;
        background-image: url(../../assets/images/UI/comments.svg);
    }
    .ui__input__wrapper {
        div {   
            position: relative;
        }
    } 
    .ui__image-loader {
        @include formBlock;
    }
    .ui__form__wrapper {
        width: 100%;
        display: flex;
        justify-content: space-between;
        @media screen and (max-width: 1350px), (max-height: 800px) {
            flex-direction: column;
            margin-bottom: 0;
        }
        input {
            margin-bottom: 0;
        }
    }

    .ui__form__header {
        margin-bottom: 45px;
        text-align: left;
        h3 {
            margin-bottom: 7px;
        }
        p {
            font-size: 15px;
            opacity: 0.8;
        }
    }

    .ui__form__switch > p {
        margin: 0;
        margin-left: 10px;
    }

    .ui__form__switch {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
    }

}
