@import "../../assets/scss/variables.scss";

.ui__card {
    background-color: var(--wrapper-background);
    border-radius: 7px;
    width: 100%;
    margin: auto;
    // cursor: pointer;
    position: relative;

    .ui__card__actions__delete, .ui__card__comment__btn {
        width: 30px;
        height: 30px;
        background-color: var(--ui-danger-color);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        position: absolute;
        top: -10px;
        right: -10px;
        cursor: pointer;
        svg {
            height: 60%;
        }
        * {
            fill: var(--icons-color);
        }
    }
    .ui__card__actions__show {
        background-color: var(--ui-color);
        svg {
            width: 70%;
        }
    }
    
    .ui__card__comment__btn {
        width: 40px;
        height: 40px;
        background-color: var(--input-background);
        left: 10px;
        top: 10px;
        cursor: pointer;
    }

    * {
        text-overflow: ellipsis;
    }

    &:hover {
        transform: scale(1.015);
    }
    h6 {
        font-size: calc(var(--default-font-size) * 0.8);
    }
    h5 {
        font-size: calc(var(--default-font-size));
    }

    h5, .ui__card__main-info__category, .ui__card__main-info__description, .ui__card__author a, .ui__card__price p:nth-child(2) {
        width: 180px;
        overflow:hidden;
        white-space:nowrap;
        @media screen and (max-width: 400px) {
            width: 160px;
        }
    }
    .ui__card__author a {
        width: 150px;
        text-align: right;
    }

    .ui__card__author {
        align-items: flex-end;
        justify-content: flex-end;
    }
    .ui__card__price p:nth-child(2) {
        width: 55px;
    }

    .ui__card__main-info__description {
        width: 300px;
        position: absolute;
        top: -5px;
        transform: translate(0, -100%);
    }
    .ui__card__details {
        position: relative;
        margin-top: 45px !important;
    }
    .ui__card__exp-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
    }
    .ui__card__background {
        background-color: #181818;
        border-top-right-radius: 7px;
        border-top-left-radius: 7px;
        width: 100%;
        height: 250px;
        overflow: hidden;
        user-select: none;
        position: relative;
        .ui__card__img {
            height: 100%;
            width: 100%;
            div {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        img {
            // position: absolute;
            // left: 50%;
            // top: 50%;
            // transform: translate(-50%, -50%);
            max-height: 88%;
            max-width: 100%; 
            min-height: 30%;
        }
    }
    .ui__card__info { 
        display: flex;
        flex-direction: column;
        padding: 25px;
        .ui__card__main-info {


            display: flex;
            justify-content: space-between;
            > div {
                display: flex;
                float:left;
                flex-direction: column;
            }
            &:not(:first-child) {
                margin-top: 25px;
            }
            &:last-child {
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
            }
            .ui__card__exp-data {
                align-items: flex-end;
            }
        }
        .ui__card__price {
            display: flex;
            align-items: center;
            margin-top: 4px;
            svg * {
                fill: var(--icons-color) 
            }
            & p:nth-child(2) {
                margin: 0 5px;
            }
        } 
        .ui__card__currency, .ui__card__author a {
            color: var(--ui-color);
            font-weight: 700;
            margin-right: 10px;
        }
        .ui__card__author a  {
            margin-right: 0 !important;
        }
        .ui__card__author {
            a:hover {
                color: var(--ui-hover-color);
            }
        }
    }
    .ui__card__buy-btn {
        width: 100%;
        margin-top: 15px;
    }
    .ui__card__img__error {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}

.ui__card__comment__content {
    padding: 30px;
    width: 500px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    background-color: var(--wrapper-background);

    .ui__card__comment__data {
        overflow: auto;
        line-height: 150%;
        max-height: 240px;
    }
    @media screen and (max-width: 540px) {
        width: 310px;
    }
}