@import "../../assets/scss/variables.scss";

header {
    position: sticky;
    z-index: 4;
    width: 100%;
    left: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: $wrapper-background;
    border-bottom: 1px solid $input-border;
    
    @media screen and (max-width : 1650px) {
        padding: 15px 35px;
    }

    @media screen and (max-width : 1100px) {
        padding: 15px 5%;
        padding-bottom: 85px;
        justify-content: space-between;
    }
    @media screen and (max-width : 400px) {
        padding-bottom: 75px;
    }
    .header__search {
        font-weight: 500;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 53px;
        background-color: $input-background;
        background-image: url(../../assets/images/UI/search_1.svg);
        background-repeat: no-repeat;
        background-position: 15px 50%;
        border: 1px solid $input-border;
        border-radius: 6px;
        width: 1300px;
        
        @media screen and (max-width : 1900px) {
            width: 60%;
        }
        @media screen and (max-width : 1650px) {
            padding-top: 11px;
            padding-bottom: 11px;
        }
        @media screen and (max-width : 1100px) {
            position: absolute;
            top: 85px;
        }
        @media screen and (max-width : 1100px) {
            width: 90%;
        }
        @media screen and (max-width : 400px) {
            font-size: 15px;
            top: 75px;
        }
    }
}