@import "./assets/scss/variables.scss";

* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: "Montserrat";
    font-size: $default-font-size;
    color: $default-text;
    transition: all 0.3s;
    ::placeholder { 
        color: $default-placeholder;
    }
}

html, body {
    background-color: $default-background;
}

@font-face {
    font-family: 'Montserrat';
    src: url(./assets/fonts/Montserrat/Montserrat-Regular.ttf) format("opentype");
    font-weight: 400;
}

@font-face {
    font-family: 'Montserrat';
    src: url(./assets/fonts/Montserrat/Montserrat-Medium.ttf) format("opentype");
    font-weight: 500;
}

@font-face {
    font-family: 'Montserrat';
    src: url(./assets/fonts/Montserrat/Montserrat-SemiBold.ttf) format("opentype");
    font-weight: 600;
}

@font-face {
    font-family: 'Montserrat';
    src: url(./assets/fonts/Montserrat/Montserrat-Bold.ttf) format("opentype");
    font-weight: 700;
}

@font-face {
    font-family: 'Montserrat';
    src: url(./assets/fonts/Montserrat/Montserrat-ExtraBold.ttf) format("opentype");
    font-weight: 800;
}

@font-face {
    font-family: 'Montserrat';
    src: url(./assets/fonts/Montserrat/Montserrat-Black.ttf) format("opentype");
    font-weight: 900;
}

h1 {
    font-size: 48px;
}
a {
    text-decoration: none;
}

p, a {
    font-size: 16px;
}