@import "../../assets/scss/variables.scss";

.new-offer__wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 100px 300px;

    
    @media screen and (max-width: 1820px) {
        margin: 100px 200px;
    }
    @media screen and (max-width: 1650px) {
        margin: 100px 100px;
    }
    @media screen and (max-width: 1450px) {
        margin: 50px 70px;
    }

    @media screen and (max-width: 1150px) {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        margin: 0;
    }
    @media screen and (max-width: 600px) {
        margin: 50px 10px;
    }

    .new-offer__title {
        margin-bottom: 5px !important;
    }

    .offer-page__images__preloader {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--input-background);
        border-radius: 6px;
    }

    .offer-page__no-address {
        position: absolute;
        left: 50%;
        top: 50%;
        width: 100%;
        text-align: center;
        transform: translate(-50%, -50%);
        font-weight: 700;
        padding: 0 5px;
    }
    
    .ui__input__wrapper {
        .ui__input__asset {
            right: 0;
            top: 0;
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 700;
            width: 90px;
            height: 100%;
            background-color: var(--ui-color);
            border-top-right-radius: 6px;
            border-bottom-right-radius: 6px;
        }
    }


    .offer-page__image {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 20px 0;
        padding: 5px;
        background-color: var(--input-background);
        border-radius: 7px;
        user-select: none;

        .offer-page__image__wrapper {
            display: flex;
            justify-content: center;
            align-items: center;

            h4 {
                margin-left: 20px;
            }
            .ui__preloader__content {
                height: 38px;
                width: 38px;
            }
            > div {
                border-radius: 7px;
                border: 1px solid var(--input-border);
                padding: 12px;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 70px;
                img {
                    // height: 38px;
                    max-height: 38px;
                    max-width: 100%;
                }
            }
        }

        .offer-page__image__controllers {
            display: flex;
            justify-content: center;
            align-items: center;

            > div {
                margin: 0 10px;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                background-color: var(--button-background);
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;

                &:hover {
                    background-color: var(--button-background-hover);
                }
                svg {
                    height: 60%;
                    display: block;
                    fill: var(--icons-color);
                }
            }
            .offer-page__image__delete {
                background-color: var(--ui-danger-color);
                &:hover {
                    background-color: var(--ui-danger-hover);
                }
            }
        }

    }
    
    .ui__form {
        margin-right: 50px;
        @media screen and (max-width: 1150px) {
            margin: 0;
        }
    }
    
    .ui__card {
        position: sticky;
        top: 100px;
        width: 340px;
        margin: 0;
        margin-left: 50px;
        @media screen and (max-width: 1150px) {
            position: relative;
            top: 0;
            margin: 0;
            margin-bottom: 30px;
            margin-top: 50px;
        }
    }
}